@{
    ViewData["Title"] = "Downloads";
}

<h1>Downloads</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a href="~/files/dummy.pdf" download="Document1.pdf">
            <i class="fa-solid fa-file-pdf fa-fw"></i> Document 1
        </a>
    </li>
    <li class="list-group-item">
        <a href="~/files/software.zip" download="Software.zip">
            <i class="fa-solid fa-file-archive fa-fw"></i> Software
        </a>
    </li>
    <li class="list-group-item">
        <a href="~/files/report.docx" download="Report.docx">
            <i class="fa-solid fa-file-word fa-fw"></i> Report
        </a>
    </li>
</ul>