@model PersonalPageProjectF115376.Models.ApplicationUser

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/gopher.png" alt="Your Profile Picture" class="img-fluid profile-image">
        </div>
        <div class="col-md-8">
            <h2>About Me</h2>
            <p>Hi I am Aleksandar Karatov a student at NBU with a faculty number of F115376. <br>
               My passions include but are not limited to: back-end programming (specifically in Golang),
               participating in the design process of a new project, re-writing a whole project I've worked 1 year on and much more!
            </p>
        </div>
    </div>

    <h2>Contact Information</h2>
    <p>Email: examppe.email@example.com</p>
    <p>Phone: 094 344 4123</p>
    <br><br><br><br>
    <p>Sorry I didn't want to put actual information on this page :D</p>

</div>